html,
button,
input,
select,
textarea {
    color: #222;
}

@font-face {
  font-family: 'DINmed';
  src: url('DINCond-Medium.eot');
  src: url('DINCond-Medium.eot?#iefix') format('embedded-opentype'),
       url('DINCond-Medium.woff') format('woff'),
       url('DINCond-Medium.ttf')  format('truetype'),
       url('DINCond-Medium.svg#rnaisupbug') format('svg');
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DINreg';
  src: url('DINCond-Regular.eot');
  src: url('DINCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('DINCond-Regular.woff') format('woff'),
       url('DINCond-Regular.ttf')  format('truetype'), 
       url('DINCond-Regular.svg#nazkuocnyq') format('svg'); 
       
  font-style:   normal;
  font-weight:  400;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: DINreg Helvetica Arial;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.main-container,
.footer-container {
    border-top: 10px solid #222;
    background: #fff;
}

.title {
    color: #222;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {

}

.footer-container footer {

    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Main styles
   ========================================================================== */

h1 {
    font-size: 107px;
    line-height: 70px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-family: DINmed;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 39px;
    line-height: 50px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 400;
    font-family: DINreg;
    text-align: center;
    color: rgba(127,127,127,1);
    text-transform: uppercase;
}

h3 {
    font-size: 67px;
    line-height: 61px;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 400;
    font-family: DINreg;
    text-align: center;
    text-transform: uppercase;
    color: rgba(109,109,109,1);
}

section {
    border-top: 10px solid #222;
    margin: 20px 0;
    padding: 10px 0;
    text-align: left;
    clear: both;
}
section h3,
.section-description {
    font-family: DINmed;
    letter-spacing: -1px;
    color: #222;
}

section h3 {
    float: left;
}
.section-description {
    font-size: 40px;
    line-height: .75em;
    text-transform: uppercase;
    text-align: justify;
    margin: 0;
}
.section-description a:link {
    color: red;
}

#campaign-tweet-this .section-description {
    float: right;
    width: 65%;
}
#campaign-tweet-this ul,
#campaign-collaborators ul,
#campaign-updates-opt-in ul {
    clear: both;
    list-style-type: none;
    margin: 0; padding: 0;
}
#campaign-tweet-this li a {
    display: block;
    padding: 5px;
    margin: 5px 0;
    border: 2px solid rgba(109, 109, 109, 1);
    border-radius: 5px;
    background: rgba(227, 227, 227, 1);
    text-decoration: none;
    color: inherit;
}
#campaign-tweet-this li a:hover {
    border-style: ridge;
    background: rgba(247, 247, 247, 1);
}

#campaign-collaborators .section-description {
    text-align: right;
    line-height: 67px;
}
#campaign-collaborators li {
    float: left;
    width: 50%;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(227, 227, 227, 1);
}
#campaign-collaborators li:nth-child(odd) {
    width: 47%;
    margin-right: 3%;
}
#campaign-collaborators li a {
    text-decoration: none;
    color: inherit;
}
#campaign-collaborators li a:hover {
    text-decoration: underline;
}

#campaign-updates-opt-in h3 {
    float: right;
}
#campaign-updates-opt-in ul {
    clear: none;
}
#campaign-updates-opt-in .SocialMedia {
    float: left;
    margin-top: 5px;
}
#campaign-updates-opt-in .SocialMedia a {
    display: block;
    width: 47px;
    height: 47px;
    background: url(../img/sprite.icons.social-media.black.png) no-repeat;
    text-indent: -9999px;
}
#campaign-facebook.SocialMedia a {
    margin-left: 8px;
    background-position: -56px 0;
}

h4 {
    margin-bottom: 40px;
    font-weight: 400;
    font-style: normal;
    font-family: DINreg;
    font-size: 54px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 35px;
    font-weight: 400;
    font-style: normal;
    font-family: DINreg;
    font-size: 110px;
    text-align: center;
}


h6 {
    margin-bottom: 25px;
    font-family: DINmed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(114,114,114,1);
}


h7 {
    font-weight: 400;
    font-style: italic;
    margin-bottom: 25px;
}

.post_caption p {
    margin-top: 0;
}

.dayscount{
    display: inline-block;
    vertical-align: top;
    background-color: rgba(65,65,65,1);
    color: #fff;
    padding:10px;
    margin-top: -10px;
}
.videoplaceholder{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom:30px;
    text-align: center;
}
.box{
	display: block;
	width: 260px;
	padding: 20px;
	background: rgba(240, 240, 240,1);
	margin: 0 0 20px 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-size: 12px;
	line-height:14px;
	box-sizing: border-box;
	position: relative;
}
.box .thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background: #eee;
	margin: 0 0 10px 0;
}
.box .thumbnail img{
	max-width: 100%;
}
.box ul.post_type {
	float: right;
	margin: 0;
	padding-left: 10px;
	list-style-type: none;
}
.box ul.post_type li {
	float: right;
	margin-left: 4px;
}
.box div.photo ul.post_type li a, .photoset ul.post_type li a {
	background: url(http://static.tumblr.com/fftf9xi/gfEl5z3kn/icon_photo.png) 0 0;
}
.box .meta {
	display: block;
	clear: both;
}
.box ul.tags {
	margin: 6px 0 0 0;
	padding: 0 0 0 14px;
	list-style-type: none;
	background: url(http://static.tumblr.com/fftf9xi/adwl5z3sd/icon_tags.png) 0 0 no-repeat;
	padding-bottom: 10px;
	border-bottom: 1px dotted #d5d5d5;
}
.box ul.tags li {
	display: inline;
	font-style: italic;
	font-size: 10px;
	line-height: 14px;
}
.box ul.tags li a{
	color: #26B262;
}
.box .utils,.box .time{
	display: none;
}
ul.tags li::after {
    content: ', ';
}
ul.tags li:last-child::after {
    content: '';
}

footer a {
    display: block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) and (max-width: 420px) {
	.main{
		margin-top:10px
	}
	.wrapper {
        width: 300px;
        margin: 0 auto;
    }
	h1{
		font-size:38px;
		margin: 0;
		line-height: 50px;
	}
	h2{
		text-align: justify;
		font-size: 27px;
		line-height: 29px;
	}
	h3{
		font-size: 24px;
		line-height: 41px;
		margin-bottom: 0px;
	}
	h4{
		font-size: 37px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.dayscount{
		padding: 2px 18px;
		margin-top: -2px;
		margin-left: -8px;
	}
	.box{
		width: 300px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 1139px) {

	.wrapper {
        width: 840px;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 1140px) {

    .wrapper {
        width: 840px;
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
