html,
button,
input,
select,
textarea {
    color: #222;
}

@font-face {
  font-family: 'DINmed';
  src: url('http://bradleymanning.org/fonts/DINCond-Medium.eot');
  src: url('http://bradleymanning.org/fonts/DINCond-Medium.eot?#iefix') format('embedded-opentype'),
       url('http://bradleymanning.org/fonts/DINCond-Medium.woff') format('woff'),
       url('http://bradleymanning.org/fonts/DINCond-Medium.ttf')  format('truetype'),
       url('http://bradleymanning.org/fonts/DINCond-Medium.svg#rnaisupbug') format('svg');

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DINreg';
  src: url('http://bradleymanning.org/fonts/DINCond-Regular.eot');
  src: url('http://bradleymanning.org/fonts/DINCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('http://bradleymanning.org/fonts/DINCond-Regular.woff') format('woff'),
       url('http://bradleymanning.org/fonts/DINCond-Regular.ttf')  format('truetype'),
       url('http://bradleymanning.org/fonts/DINCond-Regular.svg#nazkuocnyq') format('svg');

  font-style:   normal;
  font-weight:  400;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: DINreg Helvetica Arial;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.main-container,
.footer-container {
    border-top: 10px solid #222;
    background: #fff;
}

.title {
    color: #222;
}

/* ==============
    Navigation
   ============== */

nav {
    position: relative;
    text-align: center;
}
nav ol, nav ul, nav p {
    margin: 0;
    padding: 0;
}
#MainNav li {
    display: inline;
}
#MainNav a {
    display: inline-block;
    background: #222;
    color: #FFF;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}
#MainNav a:hover {
    text-decoration: underline;
    background-color: rgb(235, 235, 235);
    color: #222;
}
.Pagination p {
    position: absolute;
    bottom: 0;
    width: 420px; /* Half width as its "wrapper", so we don't cover nearby links. */
    left: 25%; /* Half width & 25% left offset centers us here. */
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    height: 100%;
    line-height: 40px;
}
#PaginationPrevious {
    float: left;
}
#PaginationNext {
    float: right;
}
#PaginationPrevious a::before {
    content: '\2190  '; /* Leftwards arrow. */
}
#PaginationNext a::after {
    content: ' \2192'; /* Rightwards arrow. */
}
.Pagination li a {
    display: inline-block;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    text-decoration: none;
    color: rgb(109, 106, 106);
    text-transform: uppercase;
    font-weight: bold;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {

}

.footer-container footer {
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Main styles
   ========================================================================== */

h1 {
    font-size: 107px;
    line-height: 70px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-family: DINmed;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 39px;
    line-height: 50px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 400;
    font-family: DINreg;
    text-align: center;
    color: rgba(127,127,127,1);
    text-transform: uppercase;
}

h3 {
    font-size: 67px;
    line-height: 61px;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 400;
    font-family: DINreg;
    text-align: center;
    text-transform: uppercase;
    color: rgba(109,109,109,1);
}

section {
    border-top: 10px solid #222;
    margin: 20px 0 20px 0;
    padding: 25px 0 10px 0px;
    text-align: left;
    clear: both;
}
section h3,
.section-description {
    font-family: DINmed;
    letter-spacing: -1px;
    color: #222;
}

section h3 {
    text-align: left;
}
#tumblr-content h3, #tumblr-content h4 {
    display: inline-block;
}
.section-description {
    font-size: 29px;
    line-height: 31px;
    text-transform: uppercase;
    text-align: left;
    margin: 3px 0 20px 0;
}
.section-description a:link {
    color: red;
}

#tumblr-content {
    position: relative;
}
#btn-toggle-tumblr {
    position: absolute;
    top: 0;
    right: 0;
}

#campaign-collaborators h3, #campaign-tweet-this h3 {
    display: inline-block;
}
#campaign-collaborators .section-description, #campaign-tweet-this .section-description {
    display: inline-block;
    margin-left: 20px;
}
#campaign-tweet-this .section-description span {
    display: block;
}
#campaign-tweet-this ul,
#campaign-collaborators ul,
#campaign-updates-opt-in ul {
    clear: both;
    list-style-type: none;
    margin: 0; padding: 0;
}
#campaign-tweet-this li a {
    position: relative;
    display: block;
    padding: 12px 12px 12px 52px;
    border: 1px solid rgba(214, 214, 214, 1);
    background: rgba(247, 247, 247, 1);
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
    font-size: 14px;
    line-height: 19px;
    margin: 8px 50px;
    height: 65px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#campaign-tweet-this li a:before {
    content: ">";
    position: absolute;
    font-size: 50px;
    font-family: DINmed;
    left: 17px;
    height: 100%;
    line-height: 30px;
    color: rgb(167, 167, 167);
}
#campaign-tweet-this li a:hover:before {
    color: #fff;
}
#campaign-tweet-this li a:hover,
.Pagination li a:hover {
    color: #fff;
    background: rgba(182, 180, 180, 1);
}

#campaign-collaborators .section-description {
    text-align: right;
    line-height: 56px;
}
#campaign-collaborators li {
    float: left;
    width: 50%;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(227, 227, 227, 1);
}
#campaign-collaborators li:nth-child(odd) {
    width: 47%;
    margin-right: 3%;
}
#campaign-collaborators li a {
    text-decoration: none;
    color: inherit;
}
#campaign-collaborators li a:hover {
    text-decoration: underline;
}

#campaign-updates-opt-in h3 {
    float: right;
}
#campaign-updates-opt-in ul {
    clear: none;
}
#campaign-updates-opt-in .SocialMedia {
    float: left;
    margin-top: 5px;
}
#campaign-updates-opt-in .SocialMedia a {
    display: block;
    width: 47px;
    height: 47px;
    background: url(http://static.tumblr.com/ybjxbev/QHqmn7yzn/sprite.icons.social-media.black.png) no-repeat;
    text-indent: -9999px;
}
#campaign-facebook.SocialMedia a {
    margin-left: 8px;
    background-position: -56px 0;
}
#campaign-newsletter fieldset {
    border: none;
}
#campaign-newsletter legend,
#campaign-newsletter label {
    display: none;
}
#campaign-newsletter input[type="text"] {
    color: rgb(66, 66, 66);
    padding: 0px 10px;
    border: 1px solid #ccc;
    width: 300px;
    margin: 0px 10px 0px 210px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}
#campaign-newsletter input[type="submit"] {
    border: 0px;
    height: 42px;
    display: inline-block;
    vertical-align: top;
    padding: 0px 10px;
    color: rgb(109, 106, 106);
    text-transform: uppercase;
    background-color: rgb(235, 235, 235);
    font-weight: bold;
}
h4 {
    font-weight: 400;
    font-style: normal;
    font-family: DINreg;
    font-size: 54px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 35px;
    font-weight: 400;
    font-style: normal;
    font-family: DINreg;
    font-size: 110px;
    text-align: center;
}


h6 {
    margin-bottom: 25px;
    font-family: DINmed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(114,114,114,1);
}


h7 {
    font-weight: 400;
    font-style: italic;
    margin-bottom: 25px;
}

footer h3 {
    font-size: 50px;
}

.post_caption p {
    margin-top: 0;
}

.dayscount{
    display: inline-block;
    vertical-align: top;
    background-color: rgba(65,65,65,1);
    color: #fff;
    padding:10px;
    margin-top: -10px;
}
.videoplaceholder{
    display: block;
    width: 100%;
    margin: 40px auto 30px;
    text-align: center;
}

.post-type-photos h3 {
    margin-bottom: 30px;
}
.post-type-photos h4 {
    margin: .1em 0 .25em;
}
.skiplink,
.PaginationLabel {
    position: absolute;
    left: -9999px;
}

.box{
	display: block;
	padding: 20px;
	background: rgba(240, 240, 240,1);
	margin: 0 0 20px 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-size: 12px;
	line-height:14px;
	box-sizing: border-box;
	position: relative;
}
.IndexPage .box {
	width: 260px;
}
.box header {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background: #eee;
	margin: 0 0 10px 0;
}
.box header img {
	max-width: 100%;
}
.box header p {
	margin: 5px 0 0 0;
}
.box .meta {
	display: block;
	clear: both;
}
.box ul.tags {
	margin: 6px 0 0 0;
	padding: 0 0 0 14px;
	list-style-type: none;
	background: url(http://static.tumblr.com/fftf9xi/adwl5z3sd/icon_tags.png) 0 0 no-repeat;
}
.box ul.tags li {
	display: inline;
	font-style: italic;
	font-size: 10px;
	line-height: 14px;
}
.box ul.tags li a{
	color: #26B262;
}
ul.tags li::after {
    content: ', ';
}
ul.tags li:last-child::after {
    content: '';
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) and (max-width: 420px) {
	.main{
		margin-top:10px
	}
	.wrapper {
        width: 300px;
        margin: 0 auto;
    }
	h1{
		font-size:38px;
		margin: 0;
		line-height: 50px;
	}
	h2{
		text-align: justify;
		font-size: 27px;
		line-height: 29px;
	}
	h3{
		font-size: 24px;
		line-height: 41px;
		margin-bottom: 0px;
	}
	h4{
		font-size: 37px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.dayscount{
		padding: 2px 18px;
		margin-top: -2px;
		margin-left: -8px;
	}
	.box{
		width: 300px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 1139px) {

	.wrapper {
        width: 840px;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 1140px) {

    .wrapper {
        width: 840px;
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
