html,
button,
input,
select,
textarea {
    color: #222;
}

@font-face {
  font-family: 'DINmed';
  src: url('DINCond-Medium.eot');
  src: url('DINCond-Medium.eot?#iefix') format('embedded-opentype'),
       url('DINCond-Medium.woff') format('woff'),
       url('DINCond-Medium.ttf')  format('truetype'),
       url('DINCond-Medium.svg#rnaisupbug') format('svg');
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DINreg';
  src: url('DINCond-Regular.eot');
  src: url('DINCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('DINCond-Regular.woff') format('woff'),
       url('DINCond-Regular.ttf')  format('truetype'), 
       url('DINCond-Regular.svg#nazkuocnyq') format('svg'); 
       
  font-style:   normal;
  font-weight:  400;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: DINreg Helvetica Arial;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 840px;
    margin: 0 auto;
}

.main-container {
    border-top: 10px solid #222;
    background: #fff;
}

.title {
    color: #222;
}

/* ==============
    Navigation
   ============== */

nav {
    position: relative;
    text-align: center;
}
nav ol, nav ul, nav p {
    margin: 0;
    padding: 0;
}
#MainNav li {
    display: inline;
}
#MainNav a {
    display: inline-block;
    background: #222;
    color: #FFF;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}
#MainNav li:last-child a {
    color: yellow;
}
#MainNav a:hover,
#MainNav li:last-child a:hover {
    text-decoration: underline;
    background-color: rgb(235, 235, 235);
    color: #222;
}
.Pagination p {
    position: absolute;
    bottom: 0;
    width: 420px; /* Half width as its "wrapper", so we don't cover nearby links. */
    left: 25%; /* Half width & 25% left offset centers us here. */
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    height: 100%;
    line-height: 40px;
}
#PaginationPrevious {
    float: left;
}
#PaginationNext {
    float: right;
}
#PaginationPrevious a::before {
    content: '\2190  '; /* Leftwards arrow. */
}
#PaginationNext a::after {
    content: ' \2192'; /* Rightwards arrow. */
}
.Pagination li a,
#campaign-newsletter input[type="submit"] {
    display: inline-block;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    text-decoration: none;
    color: rgb(109, 106, 106);
    text-transform: uppercase;
    font-weight: bold;
}

.main {
    padding: 30px 0;
}

.footer-container {
    background: rgba(240, 240, 240,1);
    padding: 20px 0 30px;
}
.footer-container footer {
    width: 700px;
    margin: 0 auto;
}
footer h3 {
    font-size: 45px;
    color: #222;
}
footer h3 a {
    color: inherit;
    text-decoration: none;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer section {
    border: none;
    margin: 0;
    padding: 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Main styles
   ========================================================================== */

h1 {
    font-size: 107px;
    line-height: 70px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-family: DINmed;
    text-align: center;
    text-transform: uppercase;
}

article h1 {
    text-align: left;
    font-size: 75px;
}

h2 {
    font-size: 39px;
    line-height: 50px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 400;
    font-family: DINreg;
    text-align: center;
    color: rgba(127,127,127,1);
    text-transform: uppercase;
}

h3 {
    font-size: 67px;
    line-height: 61px;
    font-style: normal;
    font-weight: 400;
    font-family: DINreg;
    text-align: center;
    text-transform: uppercase;
    color: rgba(109,109,109,1);
}

article h3 {
    font-size: 50px;
}

section {
    border-top: 10px solid #222;
    margin: 20px 0 20px 0;
    padding: 25px 0 10px 0px;
    text-align: left;
    clear: both;
}
section h3,
.section-description {
    font-family: DINmed;
    letter-spacing: -1px;
    color: #222;
}

section h3 {
    text-align: left;
}
#tumblr-content h3, #tumblr-content h4 {
    display: inline-block;
}
.section-description {
    font-size: 29px;
    line-height: 31px;
    text-transform: uppercase;
    text-align: left;
    margin: 3px 0 20px 0;
}
.section-description a:link {
    color: red;
}

#tumblr-content {
    position: relative;
}
#btn-toggle-tumblr {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#campaign-collaborators h3, #campaign-tweet-this h3 {
    display: inline-block;
}
#campaign-collaborators .section-description, #campaign-tweet-this .section-description {
    display: inline-block;
    margin-left: 20px;
}
#campaign-tweet-this .section-description span {
    display: block;
}
.social_buttons,
#campaign-tweet-this ul,
#campaign-collaborators ul,
#campaign-updates-opt-in ul {
    clear: both;
    list-style-type: none;
    margin: 0; padding: 0;
}
#campaign-tweet-this li a {
    position: relative;
    display: block;
    padding: 12px 12px 12px 52px;
    border: 1px solid rgba(214, 214, 214, 1);
    background: rgba(247, 247, 247, 1);
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
    font-size: 14px;
    line-height: 19px;
    margin: 8px 0px;
    height: 65px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#campaign-tweet-this li a:before {
    content: ">";
    position: absolute;
    font-size: 50px;
    font-family: DINmed;
    left: 17px;
    height: 100%;
    line-height: 30px;
    color: rgb(167, 167, 167);
}
#campaign-tweet-this li a:hover:before {
    color: #fff;
}
#campaign-tweet-this li a:hover,
.Pagination li a:hover,
#campaign-newsletter input[type="submit"]:hover {
    color: #fff;
    background: rgba(182, 180, 180, 1);
}

#campaign-collaborators .section-description {
    text-align: right;
    line-height: 56px;
}
#campaign-collaborators li {
    float: left;
    width: 50%;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(227, 227, 227, 1);
}
#campaign-collaborators li:nth-child(odd) {
    width: 47%;
    margin-right: 3%;
}
#campaign-collaborators li a {
    text-decoration: none;
    color: inherit;
}
#campaign-collaborators li a:hover {
    text-decoration: underline;
}
#campaign-updates-opt-in h3 {
    display: none;
}
#campaign-updates-opt-in ul {
    clear: none;
}
#campaign-updates-opt-in .SocialMedia {
    float: left;
    margin-top: 5px;
}
#campaign-updates-opt-in .SocialMedia a {
    display: block;
    width: 47px;
    height: 47px;
    background: url(../img/sprite.icons.social-media.black.png) no-repeat;
    text-indent: -9999px;
}
#campaign-facebook.SocialMedia a {
    margin-left: 8px;
    background-position: -56px 0;
}
#campaign-newsletter fieldset {
    border: none;
}
#campaign-newsletter legend,
#campaign-newsletter label {
    display: none;
}
#campaign-newsletter input {
    margin-left: 5px;
}
#campaign-newsletter input[type="text"] {
    color: rgb(66, 66, 66);
    padding: 0px 10px;
    border: 1px solid #ccc;
    width: 410px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    font-style: oblique;
}
#campaign-newsletter input[type="text"]:focus {
    font-style: normal;
}
#campaign-newsletter input[type="submit"] {
    border: 0;
    height: 42px;
    padding: 0 10px;
}
h4 {
    font-weight: 400;
    font-style: normal;
    font-family: DINreg;
    font-size: 54px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 35px;
    font-weight: 400;
    font-style: normal;
    font-family: DINreg;
    font-size: 110px;
    text-align: center;
}


h6 {
    margin-bottom: 25px;
    font-family: DINmed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(114,114,114,1);
}


h7 {
    font-weight: 400;
    font-style: italic;
    margin-bottom: 25px;
}

header h3 {
    margin-bottom: 18px;
}

.post_caption p {
    margin-top: 0;
}

#dayscount{
    display: inline-block;
    vertical-align: top;
    background-color: rgba(65,65,65,1);
    color: #fff;
    padding:10px;
    margin-top: -10px;
}
#featured-media-wrapper {
    display: block;
    width: 840px !important;
    margin: 40px 0px 10px 0px;
    text-align: center;
}
#featured-media-description {
    text-align: justify;
}
/* Social buttons should usually just be arrayed in sets of two. */
.social_buttons li {
    float: left;
    width: 410px;
    margin: 0 20px 25px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.social_buttons li:nth-child(even) {
    margin-right: 0;
}
/* Specific for this design, though, we want first and last full-width. */
#thunderclap-link,
#petition-link {
    width: 840px;
}
#facebook-link { margin-right: 20px; }
#thunderclap-link,
#twibbon-link,
#petition-link {
    margin-right: 0;
}
.social_buttons a {
    text-transform: uppercase;
    background-color: #ccc;
    display: block;
    padding: 20px 0;
    color: #fff;
    background-color: #00ADB3;
    text-decoration: none;
}
.social_buttons a:hover {
    background-color: #11D1D1;
}

.post-type-photos h3 {
    margin-bottom: 30px;
}
.post-type-photos h4 {
    margin: .1em 0 .25em;
}
.skiplink,
.PaginationLabel {
    position: absolute;
    left: -9999px;
}

.box{
    display: block;
    padding: 10px;
    margin: 0 0 20px 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 15px;
    line-height:1.3em;
    box-sizing: border-box;
    position: relative;
}
.IndexPage .box {
    background: rgba(240, 240, 240,1);
    width: 250px;
    font-size: 12px;
    line-height: 14px;
}
.box header {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 10px 0;
}
.box header img {
    max-width: 100%;
}
.box header p {
    margin: 5px 0 0 0;
}
.box .meta {
    display: block;
    clear: both;
}
.box ul.tags {
    margin: 6px 0 0 0;
    padding: 0 0 0 14px;
    list-style-type: none;
    background: url(http://static.tumblr.com/fftf9xi/adwl5z3sd/icon_tags.png) 0 0 no-repeat;
}
.box ul.tags li {
    display: inline;
    font-style: italic;
    font-size: 10px;
    line-height: 14px;
}
.box ul.tags li a{
    color: #26B262;
}
ul.tags li::after {
    content: ', ';
}
ul.tags li:last-child::after {
    content: '';
}

/* slider */
.nivoSlider {
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    max-width: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
    background:white;
    filter:alpha(opacity=0);
    opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    width:100%;
    z-index:8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position:absolute;
    top:45%;
    z-index:9;
    cursor:pointer;
}
.nivo-prevNav {
    left:0px;
}
.nivo-nextNav {
    right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
    text-align:center;
    padding: 15px 0;
}
.nivo-controlNav a {
    cursor:pointer;
}
.nivo-controlNav a.active {
    font-weight:bold;
}
#slider-wrapper{
    width: 840px;
    margin: 20px auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.photo-buttons a {
    color: #fff;
    font-size: 40px;
    background-color: rgb(190, 190, 190);
    padding: 15px;
    margin: 0;
    display: inline-block;
    width: 370px;
    font-weight: 400;
    font-style: normal;
    font-family: DINreg;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.photo-buttons a:nth-child(2) {
    margin-left: 25px;
}
